.not-found-page
  position: relative
  height: 570px

  background-image: url(../img/404-bg.jpg);
  background-position: center
  background-repeat: no-repeat

  .btn
    position: absolute
    top: 345px;
    left: 300px;
    right: 0;
    margin: auto;
