import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

body
  min-width: 1100px
  font-family: font-main
  color: grey-a5

@import 'elements'
@import 'header'
@import 'index'
@import 'index_auth'
@import 'footer'
