import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

body
  color: grey-a5
  font-family: font-main
  font-size: 15px

@import 'elements'
@import 'header'
@import 'index'
@import 'index_auth'
@import 'rules'
@import 'register'
@import 'forgot_pass'
@import 'faq'
@import 'order'
@import 'winners'
@import 'personal'
@import 'footer'
@import 'pop-up'
@import '404'
