.h1
  display: block
  color: grey-7c
  font-size 27px
  font-weight 700
  text-transform uppercase

.h2
  color additional-color-1
  font-size 20px
  font-weight 400

.h-additional
  color: active-color
  font-size: 18px
  font-weight: 700

.btn
  position: relative
  display: block
  width: 300px
  height: 50px
  z-index: 1

  color: #fff
  font-size: 18px
  font-weight: 700
  line-height: 50px
  text-align: center
  text-transform: uppercase
  text-decoration: none

  background-color: active-color
  border: none
  border-radius: 9px

  transition: background-color 0.3s, color 0.3s

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 2px solid active-color
    z-index: -1
    border-radius: inherit
    opacity: 0
    transform: scale3d(0.6, 0.6, 1)
    transition: transform 0.3s, opacity 0.3s
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

  &:hover
    background-color: #fff
    color: active-color

    &::before
      transform: scale3d(1, 1, 1)
      opacity: 1

  &--small
    width: 220px
    height: 40px
    line-height: 40px

  &--large
    height: 64px
    line-height: 64px

    color: #ffec10
    font-size: 23px

  &--minor
    background-color: grey-a5

    &::before
      border: 2px solid grey-a5

    &:hover
      color: grey-a5

.input
  width: 300px
  height: 50px
  margin-bottom: 8px
  padding-left: 10px
  padding-right: 10px

  color: grey-7c
  font-size: 15px
  border: 1px solid grey-7c
  border-radius: 9px

  &::placeholder
    color: #bdbdbd

  &--micro
    width: 80px

  &--small
    height: 40px

  &--large
    height: 64px

textarea
  width: 460px
  height: 185px
  padding: 15px
  border: 1px solid #7c7c7c;
  border-radius: 10px

// form
.form__error-message
  display: none
  margin-bottom: 20px

  color: #e80101
  font-size: 14px
  text-align: center

.form--required
  .form__error-message
    display: block

  [required]
  .checkbox:not(:checked) + label:before
    border: 1px solid #e80101;

//// form

// checkbox
.checkbox + label
  display: inline-block
  margin-bottom: 10px
  cursor: pointer

.checkbox
  position: absolute
  opacity: 0

.checkbox + label
  position: relative
  padding-left: 30px

.checkbox + label:before
.checkbox + label:after
  position: absolute
  content: ''
  bottom: 0
  margin: auto

.checkbox + label:before
  size: 20px
  top: 0
  left: 0

  border 1px solid grey-7c
  border-radius 5px
  background-color: #fff

.checkbox + label:after
  size 20px 18px
  top: -2px
  left: 4px

.checkbox:checked + label:after
  background-image url(../img/checked.svg)

//// checkbox

/*
 * tabs buttons
 */
.tabs-buttons
  text-align: center
  margin-bottom: 35px

  button
    position: relative
    padding-bottom: 4px

    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    border: none
    background: none

    & + button
      margin-left: 100px

    &:before
    &:after
      position: absolute
      bottom: 0
      content: ''

    &:before
      width: 100%
      height: 1px
      background-image: url(../img/faq_bd.svg);

    &:after
      css-triangle(grey-7c, down, 15px, 8px)
      top: 5px
      left: calc(100% + 10px)

    &.active
      color: active-color
      &:before
        background-image: url(../img/faq_bd-active.svg);
      &:after
        css-triangle(active-color, up, 15px, 8px)
