.order-wrap
  padding-top: 40px
  .h1
    margin-bottom: 20px
    text-align: center

.order__head
  container(780px)
  display: flex
  counter-reset: item

.order__step-head
  display: flex
  justify-content: center
  align-items: center
  width: 280px
  height: 50px
  padding-left: 40px

  font-weight: 700
  text-transform: uppercase
  background-color: #fff
  border: 1px solid #e9e9e9
  border-radius 9px
  counter-increment: item

  + .order__step-head
    margin-left: -15px

  &.current
    width: 260px
    z-index: 1
    color: grey-7c

    background-color #e9e9e9

    span
      opacity: 1

  span
    opacity: .5
    position: relative

    &:before
      position: absolute
      top: 0
      bottom: 0
      right: calc(100% + 10px)
      display: flex
      justify-content: center
      align-items: center
      width 30px
      height 30px
      margin: auto

      font-size: 20px
      border 2px solid grey-7c
      border-radius: 50%
      content: counter(item)

.order__step-content
  display: none
  position: relative

  &.current
    display: block

  &:nth-of-type(1)
    container(780px)
    padding-top: 55px
    padding-bottom: 55px

  &:nth-of-type(2)
    container(940px)
    padding-top: 55px
    padding-bottom: 55px

    .h-additional
      margin-bottom: 15px
      font-size: 27px
      text-align: center
      text-transform: uppercase

  &:nth-of-type(3)
    padding-top: 30px

.order__cups-wrap
  display: flex
  align-content: space-between
  flex-direction: column
  flex-wrap: wrap
  max-height: 360px
  a
    display: block
    size: 86px
    margin-bottom: 3px
    padding-top: 8px
    padding-left: 10px

    border: 1px solid transparent
    &.current

      border-color: grey-a5
      border-radius: 10px

.order__cups-item
  position: absolute
  top: 55px
  left: 0
  right: 0

  display: flex
  align-items: center
  justify-content: center
  max-width: 500px
  height: 360px
  margin: auto
  padding-left: 40px

  border 1px solid #a5a5a5
  border-radius 10px
  img
    max-width: 234px
    max-height: 255px

.cups-slider-prev
.cups-slider-next
  display: block
  width: 20px
  height: 38px
  position: absolute
  top: 0
  bottom: 0
  margin: auto

  cursor: pointer
  &::before
  &::after
    position: absolute
    top: 0
    left: 0

    content: ''

  &::before
    top: 1px
    border: solid transparent
    border-width: 17px 18px
    border-left-color: #fff
    z-index: 1

  &::after
    border: solid transparent
    border-width: 18px 19px
    border-left-color: #b0b0af

.cups-slider-prev
  left: 40px
  transform: scale(-1, 1)

.cups-slider-next
  right: 40px

.order-next-btn
  margin: 50px auto 0

/*
 * tab 2
*/

.h-sub
  margin-bottom: 50px
  color: grey-7c
  line-height: 22px
  text-align: center

.order-tab2__form
  display: flex
  justify-content: space-between
  color: grey-7c

.order-tab2__left
.order-tab2__right
  > label
  .order-tab2__form-fieldset
    display: flex
    justify-content: space-between
    align-items: center
    width: 420px
    margin-bottom: 8px

  .input
    margin-bottom: 0

.order-tab2__form-fieldset
  height: 40px
  .order-tab2__form-fieldset-wrap
    width: 300px
  label
    margin-right: 20px
    font-size: 18px
    cursor: pointer

.jq-selectbox
  vertical-align: middle
  cursor: pointer
  background-color: #fff;

  &:nth-of-type(1)
    width: 80px

  &:nth-of-type(2)
    width: 125px

  &:nth-of-type(3)
    width: 80px

  & + &
    margin-left: 3px

  &.opened
    .jq-selectbox__trigger-arrow
      border-top: none
      border-bottom: 8px solid grey-a5

.jq-selectbox__select
  display: flex
  align-items: center
  height: 40px
  padding-left: 10px

  border: 1px solid grey-7c
  border-radius: 10px
  color: #333

.jq-selectbox__select-text
  display: block
  width: 100%
  overflow: hidden

  color: #bdbdbd
  text-overflow: ellipsis

.jq-selectbox .placeholder
  color: #888

.jq-selectbox__trigger-arrow
  position: absolute
  top: 0
  bottom: 0
  right: 8px
  width: 0
  height: 0
  margin: auto
  border-top: 8px solid grey-a5
  border-right: 8px solid transparent
  border-left: 8px solid transparent

.jq-selectbox__dropdown
  width: 100%
  margin-top: -10px
  padding-top: 10px
  border: 1px solid grey-7c
  border-top: none
  border-radius: 0 0 10px 10px
  overflow: hidden
  background: #FFF

.jq-selectbox ul
  margin: 0
  padding: 0
  max-height: 175px

.jq-selectbox li
  min-height: 18px
  padding: 5px 10px 6px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  white-space: nowrap
  color: grey-7c

.jq-selectbox li.selected
  background-color: additional-color-2
  color: #FFF

.jq-selectbox li:hover
  background-color: active-color
  color: #FFF

.jq-selectbox li.disabled
  display: none

.jq-radio
  size: 18px
  margin-right: 5px

  vertical-align: sub
  border: 1px solid grey-7c
  border-radius: 50%
  cursor: pointer

  &.checked
    border-color: active-color

    .jq-radio__div
      size: 10px
      margin: 3px 0 0 3px
      border-radius: 50%
      background: active-color

/*
 * tab 3
 */

.order-tab3__first
.order-tab3__second
  display: none
  position: relative
  padding-top: 40px
  padding-bottom: 40px

  background-color: #f7f7f7;

  &:before
    css-triangle(#f7f7f7, up, 34px, 12px)
    position: absolute
    left: 0
    right: 0
    bottom: 100%
    margin: auto

  &.active
    display: block

  .h-sub
    margin-bottom: 10px

.order-tab3__first
  &:before
    left: -25%

.order-tab3__second
  &:before
    left: 25%

.order-tab3__form
  container(940px)

  .btn
    margin: 40px auto 0

.order-tab3__form-wrap
  display: flex
  justify-content: space-between
  color: grey-7c

  label
    display: flex
    justify-content: space-between
    align-items: center
    width: 420px
    margin-bottom: 8px

    &.label--small
      width: 200px

    .input
      margin-bottom: 0

  .jq-selectbox
    width: 300px

  .checkbox
    + label
      height: 40px

.small-input-wrap
  column-count: 2

.order-tab3__second-wrap
  container(850px)
  column-count: 2
  column-gap: 100px

.order-tab3__second-left
.order-tab3__second-right
  width: 370px

.order-tab3__second-right
  padding-top: 15px
  line-height: 22px
  .h-additional
    margin-bottom: 25px

.order-tab3__second-address
  position: relative
  margin-top: 30px
  margin-bottom: 30px
  padding-left: 45px
  font-size: 18px

  &:before
    position: absolute
    top: 0
    bottom: 0
    left: 0
    display: block
    width: 28px
    height: 38px
    margin: auto

    content: ''
    background-image: url(../img/marker-address.svg);

.map
  size: 340px
  margin-left: auto
  z-index: 1

  background-color: transparent;
  border: 5px solid additional-color-2;
  border-radius: 50%
  .gm-style
    height: 106% !important
