.personal-wrap
  padding-top: 25px

  .h1
    margin-bottom: 20px
    text-align: center

.order__head--personal
  padding-left: 5px
  padding-right: 5px

  .order__step-head
    padding-left: 0
    cursor: pointer
  span
    text-align: center
    &:before
      content: none
    @media (min-width: 591px)
      br
        display: none
    @media (max-width: 420px)
      font-size: 12px


.personal-tab__content
  display: none

  &[data-js-personal-tabs-content='1']
    container(780px)
    @media (max-width: 790px)
      background-color: grey-f7

  &[data-js-personal-tabs-content='2']
    container()

  &[data-js-personal-tabs-content='3']
    min-height: 500px
    padding-top: 40px

  &.current
    display: block

.current-points-wrap--personal
  display: flex
  align-items: center
  margin-top: 25px
  margin-bottom: 30px
  padding: 0
  text-align: left

  @media (max-width: 800px)
    margin-top: 60px
    flex-direction: column
    .current-points__text-minor
      margin-top: 20px
      padding: 5px
      text-align: center
      br
        display: none

  @media (min-width: 801px)
    .current-points
      position: static
      width: 64px
      height: 64px
      margin: 0
      font-size: 30px

  .current-points__text-major
    display: inline
    margin: 0 50px 0 15px
    font-size: 15px
    @media (max-width: 800px)
      margin: 0
      br
        display: none

.personal-history
  margin-bottom: 115px
  color: grey-7c
  text-align: center
  @media (max-width: 800px)
    padding: 5px

  table
    width: 100%
    margin-bottom: 40px

  th
  td
    border-bottom: 1px solid #e9e9e9

  th
    padding: 16px 5px
    font-weight: 700
    text-transform: uppercase

  td
    width: calc(100% / 3)
    padding: 13px 5px

    &:nth-of-type(2)
      font-size: 20px

    &.ball-plus
      color: active-color
    &.ball-minus
      color: additional-color-2
    &.ball-zero
      color: additional-color-1

  .btn
    margin: 0 auto

.cups-items--personal
  margin-bottom: 10px
  @media (max-width: 800px)
    margin-bottom: 55px

.personal-ball-add
  display: flex
  padding: 25px

  border-radius: 10px
  background-color: additional-color-2
  background-image: url(../img/personal-ball-add-bg.png)
  background-size: contain
  background-repeat: no-repeat

  span
    margin-left: 70px

    color: #ffffff
    font-size: 18px
    font-weight: 700
    line-height: 20px
    text-indent: -70px

  form
    display: flex
    justify-content: space-between
    max-width: 100%
    width: 500px
    margin-left: auto

  input
    width: 240px
    margin-bottom: 0

    color: #fff
    border: 1px solid rgba(255,255,255,.5)
    background-color: transparent

    &::placeholder
      color: rgba(255,255,255,.5)

    &:focus
      border-color: #fff;

  .btn
    margin-left: 15px
    color: additional-color-2
    background-color: #fff

    &:hover
      color: #fff
      background-color: transparent
    &::before
      border-color: #fff

.personal-ball-add--personal
  margin-bottom: 25px
  @media (max-width: 790px)
    flex-direction: column
    align-items: center
    margin-bottom: 0

    border-radius: 0
    background-size: 160px
    //background-image: url(../img/personal-ball-add-bg-xs.png)

    form
      margin-top: 30px
      margin-left: 0
      @media (max-width: 510px)
        flex-direction: column
        align-items: center
        .btn--small
          width: 240px
          margin-top: 10px
          margin-left: 0

/*
 * tab2
 */

.order-tab2__form--personal
  display: block
  margin-top: 40px

  .btn
    margin: 65px auto 0

.personal-form__top
  display: flex
  justify-content: space-between
  padding-bottom: 35px
  border-bottom: 1px solid #e9e9e9;

.personal-form__bottom
  padding-top: 35px

/*
 * tab3
 */

.change-pass__user-email
  margin-bottom: 20px
  color: grey-7c;
  font-weight: 700
  text-align: center
  text-transform: uppercase

.change-pass__form
  container(300px)
