html.popup-active {
  position: relative
  margin-right: 17px
  overflow: hidden
}

.pop-up
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding-left: 5px
  padding-right: 10px
  background-color: rgba(0, 0, 0, .7)
  text-align: center
  z-index: 1000
  overflow-y: auto
  @media (max-width: 793px)
    padding-top: 100px

  &.active
    display: block

  &:after
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle

  .h-sub
    margin-bottom: 30px
    padding-left: 5px
    padding-right: 5px

  .btn
    margin: 0 auto

  &--register
    .pop-up__content
      padding-left: 5px
      padding-right: 5px
      padding-bottom: 10px
    .input
      margin-bottom: 15px
      max-width: 100%
    .btn
      margin-bottom: 80px
      @media (max-width: 650px)
        margin-bottom: 15px
    .h-sub
      @media (max-width: 550px)
        br
          display: none

  &--code
  &--code-happy
    .personal-ball-add
      margin-top: 30px
      @media (max-width: 790px)
        flex-direction: column
        align-items: center
        margin-bottom: 0

        border-radius: 0
        background-size: 160px

        form
          margin-top: 30px
          margin-left: 0
          .btn--small
            margin-left: 15px
          @media (max-width: 510px)
            flex-direction: column
            align-items: center
            .btn--small
              width: 240px
              margin-top: 10px
              margin-left: auto !important
      @media (max-width: 770px)
        margin-top: 0
    .pop-up__ball-add
      margin-bottom: 20px

  &--code
    .personal-ball-add
      margin-top: 30px
  &--code-happy
    .pop-up__content
      background-image: url(../img/pop-up-code-happy-bg.jpg)
      background-position: bottom
      background-repeat: no-repeat
      background-size: contain
      @media (max-width: 790px)
        background-position: left 10px
      @media (max-width: 700px)
        background-position: left 10px
      @media (max-width: 600px)
        background-position: center calc(50% - 50px)
      @media (max-width: 510px)
        background-position: center calc(50% - 70px)
      @media (max-width: 420px)
        background-position: center 25%
      @media (max-width: 350px)
        background-position: center 28%
    .personal-ball-add
      @media (max-width: 700px)
        margin-top: 0

  &--delivery
    .pop-up__content
      height: 535px
      background-image: url(../img/pop-up-delivery-bg.jpg)
      background-position: center
      background-repeat: no-repeat
      @media (max-width: 510px)
        height: 570px
        background-size: 180px
        background-position: center 35%
      @media (max-width: 450px)
        background-position: center 40%
    .h-sub
      @media (max-width: 450px)
        br
          display: none
    .pop-up__text-action
      position: absolute
      bottom: 110px
      left: 0
      right: 0
      padding-left: 5px
      padding-right: 5px
      @media (max-width: 780px)
        bottom: 170px
      @media (max-width: 510px)
        bottom: 220px
    .personal-ball-add
      position: absolute
      bottom: 0
      width: 100%
      @media (max-width: 780px)
        flex-direction: column
        align-items: center
        margin-bottom: 0

        border-radius: 0
        background-size: 160px

        form
          margin-top: 30px
          margin-left: 0
          .btn--small
            margin-left: 15px
          @media (max-width: 510px)
            flex-direction: column
            align-items: center
            .btn--small
              width: 240px
              margin-top: 10px
              margin-left: auto !important


.pop-up__content
  max-width: 780px
  width: 100%
  position: relative
  display: inline-block
  min-height: 500px
  padding-top: 40px

  vertical-align: middle

  border-radius: 10px
  background-color: #fff

  .h1
    margin-bottom: 20px
    color: active-color
    text-align: center

.repeat-code-wrap
  display: flex
  justify-content: center
  text-align: left
  @media (max-width: 650px)
    flex-direction: column
    align-items: center
    text-align: center
    p
      max-width: 350px
      margin-right: 0 !important
    br
      display: none
    form
      margin-top: 10px
    .input
      width: 280px
    button[type=submit]
      margin-left: auto
      margin-right: auto

  p
    margin-right: 25px
    line-height: 22px

  button
    display: block

    color: active-color
    text-decoration: underline
    border: none
    background-color: transparent
    &:hover
      text-decoration: none

.pop-up__cancel
  position: absolute
  top: 20px
  right: 20px
  size: 40px

  border: 2px solid grey-7c
  border-radius: 50%
  background-color: #fff

  @media (max-width: 780px)
    top: -10px
    right: -10px

  &::before
  &::after
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 18px
    height: 4px
    margin: auto

    background-color: grey-7c
    content: ''
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

  &:hover
    background-color: grey-7c

    &::before
    &::after
      border-color: #fff
      background-color: #fff

.pop-up__ball-add
  display: flex
  flex-direction: column
  justify-content: center
  size: 190px
  margin: 0 auto 30px

  color: additional-color-2
  font-size: 20px
  border: 7px solid additional-color-2
  border-radius: 50%

  @media (max-width: 720px)
    size: 110px
    border-width: 4px
    .pop-up__ball
      font-size: 60px

.pop-up__ball
  font-size: 110px

.pop-up__share
  position: relative
  padding-top: 25px
  @media (max-width: 420px)
    background-color: grey-f7

  .soc-buttons
    :hover
      opacity: .7
    @media (min-width: 771px)
      position: absolute
      top: 22px
      right: 0
      width: 250px
      margin: auto
    @media (max-width: 770px)
      padding-bottom: 30px
      background-color: grey-f7

  .soc-button
    size: 50px
    @media (max-width: 700px)
      size: 30px
      margin-top: 10px
    &:nth-of-type(1)
      background-image: url(../img/soc-fb-hov.svg)
    &:nth-of-type(2)
      background-image: url(../img/soc-ok-hov.svg)
    &:nth-of-type(3)
      background-image: url(../img/soc-vk-hov.svg)

.pop-up__share-text
  line-height: 22px
  @media (max-width: 450px)
    background-color: grey-f7

.pop-up__text-action
  color: additional-color-2
  font-size: 18px
  font-weight: 700

.pop-up__link
  display: inline-block
  margin-bottom: 20px

  color: grey-7c
  text-decoration: underline

  &:hover
    text-decoration: none
