.rules-wrap
  container()
  padding: 30px 5px 55px
  counter-reset: item
  .h1
    text-align: center

.rules__item
  position: relative

  border: 1px solid grey-a5
  border-radius: 10px
  background-repeat: no-repeat
  background-position: bottom
  counter-increment item

  @media (max-width: 900px)
    flex-direction: column
    max-width: 500px !important
    margin-top: 50px !important
    margin-left: auto
    margin-right: auto
    padding: 45px 5px 250px !important
    text-align: center

    &::before
      bottom: 0
      left: 0 !important
      right: 0 !important
      margin: auto

    &:nth-of-type(1)
      padding-bottom: 320px !important
      &::before
        max-width: 100%
        width: 398px !important
        height: 276px !important
        background-image: url(../img/rules_1-xs.png) !important
      &::after
        top: 98% !important
        right: 40px !important

    &:nth-of-type(2)
      &::after
        top: 98% !important
        left: 30px !important

    .rules__title
      position: static
      margin: 0 0 20px
      &::before
        top: -100%
        left: 0
        right: 0
    .rules__text
      max-width: none !important
      margin: 0 auto !important
      padding: 0 !important

    &:nth-of-type(3)
      .rules__text
        span
          color: additional-color-2
          font-weight: 700

  @media (max-width: 440px)
    &:nth-of-type(1)
      padding-bottom: 250px !important
      &::before
        max-width: 100%
        width: 300px !important
        background-size: contain
        background-repeat: no-repeat
        background-position: bottom
      &::after
        top: 98% !important
        right: 40px !important

  &:nth-of-type(1)
    max-width: 700px
    margin-top: 90px
    padding-top: 30px
    padding-bottom: 20px
    padding-left: 40px

    &::before
      bottom: 10px
      right: -50px
      width: 434px
      height: 228px
      background-image: url(../img/rules_1.png);

    &::after
      top: 100%
      right: -65px
      transform: scale(-1, 1)

    .rules__title
      margin-bottom: 20px

      color: additional-color-1
      font-size: 20px
      line-height: 25px

    .rules__text
      max-width: 260px

  &:nth-of-type(2)
    max-width: 700px
    margin-top: 110px
    margin-left: auto
    padding-top: 30px
    padding-bottom: 20px
    padding-left: 330px

    &::before
      bottom: 0
      left: 30px
      width: 259px
      height: 220px
      background-image: url(../img/rules_2.png);

    &::after
      top: 100%
      left: -70px

    .rules__title
      color: active-color

  &:nth-of-type(3)
    display: flex
    justify-content: space-between
    margin-top: 110px
    padding-bottom: 30px
    padding-top: 60px
    padding-left: 40px

    &::before
      bottom: 0
      left: -10%
      right: 0
      width: 264px
      height: 208px
      margin: auto

      background-image: url(../img/rules_3.png)
      @media (max-width: 950px)
        left: -18%


    &::after
      content: none

    .rules__title
      color: additional-color-2

    .rules__text
      margin-top: -10px
      padding-right: 45px

  &::before
  &::after
    content: ''
    position: absolute
    display: block
    z-index: 1

  &::after
    size 46px 80px
    background-image: url(../img/rules-arr.svg)

.rules__title
  position: relative
  display: block
  margin-left: 75px
  margin-bottom: 25px

  font-size: 18px

  &::before
    content: counter(item)
    position: absolute
    top: 0
    bottom: 0
    right: calc(100% + 10px)
    display: flex
    justify-content: center
    align-items: center
    size: 64px
    margin: auto

    font-size: 48px

    border: 3px solid
    border-radius: 50%
    background-color: #fff

.rules__head
  display: block
  font-size: 20px
  font-weight: 700
  text-transform: uppercase

.rules__text
  display: block
  font-size: 15px
  line-height: 18px

.rules-btn
  margin: 0 auto 50px
  width: 380px
  @media (max-width: 400px)
    font-size: 16px
