// Clear the float on any element.
clearfix()
  &:after
    content ''
    display table
    clear both

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
  background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
  width $width
  height $height

// Set margin on left & right
margin-x($margin)
  margin-left $margin
  margin-right $margin

// Set margin on top & bottom
margin-y($margin)
  margin-top $margin
  margin-bottom $margin

// Set pading on left & right
padding-x($padding)
  padding-left $padding
  padding-right $padding

// Set padding on top & bottom
padding-y($padding)
  padding-top $padding
  padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
  background-image url('../images/' + $image + '.' + $ext)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image url('../images/' + $image + '@2x.' + $ext)
  }
}

container($width = 960px)
  max-width: $width
  margin: 0 auto;

css-triangle($triangle-color, $triangle-direction, $triangle-width, $triangle-heigth = $triangle-width)
  content: ''
  display: block
  width: 0
  height: 0
  border-style: inset
  border-width: $triangle-heigth ($triangle-width / 2)
  if $triangle-direction == down
    border-color: $triangle-color transparent transparent
    border-top-style: solid
    border-bottom-width: 0
  if $triangle-direction == up
    border-color: transparent transparent $triangle-color
    border-bottom-style: solid
    border-top-width: 0
  if $triangle-direction == right
    border-color: transparent transparent transparent $triangle-color
    border-left-style: solid
    border-right-width: 0
  if $triangle-direction == left
    border-color: transparent $triangle-color transparent transparent
    border-right-style: solid
    border-left-width: 0

test-item($img, $bottom, $left)
  &::after
    bottom: $bottom
    left: $left
    width: image-size($img)[0]
    height: image-size($img)[1]
    background-image: url($img)
