*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  min-width: 1100px;
  font-family: Arial, sans-serif;
  color: #a5a5a5;
}
.h1 {
  display: block;
  color: #a5a5a5;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}
.h2 {
  color: #f39305;
  font-size: 20px;
  font-weight: 400;
}
.h-additional {
  color: #e4007b;
  font-size: 18px;
  font-weight: 700;
}
.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e4007b;
  border: none;
  border-radius: 9px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e4007b;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
          transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn:hover {
  background-color: #fff;
  color: #e4007b;
}
.btn:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  opacity: 1;
}
.btn--large {
  height: 64px;
  color: #ffec10;
  font-size: 23px;
}
.btn--minor {
  background-color: #a5a5a5;
}
.btn--minor::before {
  border: 2px solid #a5a5a5;
}
.btn--minor:hover {
  color: #a5a5a5;
}
.input {
  width: 300px;
  height: 50px;
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7c7c7c;
  font-size: 15px;
  border: 1px solid #7c7c7c;
  border-radius: 9px;
}
.input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.input::-moz-placeholder {
  color: #bdbdbd;
}
.input:-ms-input-placeholder {
  color: #bdbdbd;
}
.input::placeholder {
  color: #bdbdbd;
}
.input--small {
  height: 40px;
}
.input--large {
  height: 64px;
}
.form__error-message {
  display: none;
  margin-bottom: 20px;
  color: #e80101;
  font-size: 14px;
  text-align: center;
}
.form--required .form__error-message {
  display: block;
}
.checkbox + label {
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}
.checkbox {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  position: relative;
  padding-left: 30px;
}
.checkbox + label:before,
.checkbox + label:after {
  position: absolute;
  content: '';
}
.checkbox + label:before {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  background-color: #fff;
}
.checkbox + label:after {
  width: 20px;
  height: 18px;
  top: -2px;
  left: 4px;
}
.checkbox:checked + label:after {
  background-image: url("../img/checked.svg");
}
.form--required [required],
.form--required .checkbox:not(:checked) + label:before {
  border: 1px solid #e80101;
}
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.logo img {
  display: block;
}
.nav {
  max-width: 390px;
  width: 100%;
  margin-right: 65px;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav a {
  color: #7c7c7c;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav a.current,
.nav a:hover {
  color: #e4007b;
}
.personal {
  display: table;
  width: auto;
  position: relative;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 700;
}
.personal::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -40px;
  margin: auto;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/personal-arr.svg");
}
.personal.auth::before {
  background-image: url("../img/personal-user.svg");
}
.personal a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
.personal a:hover {
  color: #e4007b;
}
.ionTabs__head-wrap {
  background-color: #f7f7f7;
}
.ionTabs__head {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
}
.ionTabs__tab {
  position: relative;
  width: 100%;
  padding: 55px 30px 55px 125px;
  font-size: 18px;
  cursor: pointer;
  list-style-type: none;
  background: none;
  border-left: 1px solid #ccc;
}
.ionTabs__tab::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  content: counter(li);
  counter-increment: li;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  margin: auto;
  font-size: 48px;
  border: 3px solid #a5a5a5;
  border-radius: 50%;
}
.ionTabs__tab:nth-of-type(1) {
  font-size: 20px;
  text-transform: uppercase;
}
.ionTabs__tab:nth-of-type(1):hover,
.ionTabs__tab:nth-of-type(1).ionTabs__tab_state_active {
  color: #f39305;
}
.ionTabs__tab:nth-of-type(1):hover::before,
.ionTabs__tab:nth-of-type(1).ionTabs__tab_state_active::before {
  border-color: #f39305;
}
.ionTabs__tab:nth-of-type(1):hover::after,
.ionTabs__tab:nth-of-type(1).ionTabs__tab_state_active::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 15px 23px;
  border-color: #f39305 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
}
.ionTabs__tab:nth-of-type(2):hover,
.ionTabs__tab:nth-of-type(2).ionTabs__tab_state_active {
  color: #e4007b;
}
.ionTabs__tab:nth-of-type(2):hover::before,
.ionTabs__tab:nth-of-type(2).ionTabs__tab_state_active::before {
  border-color: #e4007b;
}
.ionTabs__tab:nth-of-type(2):hover::after,
.ionTabs__tab:nth-of-type(2).ionTabs__tab_state_active::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 15px 23px;
  border-color: #e4007b transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
}
.ionTabs__tab:nth-of-type(3) {
  border-right: 1px solid #ccc;
}
.ionTabs__tab:nth-of-type(3):hover,
.ionTabs__tab:nth-of-type(3).ionTabs__tab_state_active {
  color: #2267a2;
}
.ionTabs__tab:nth-of-type(3):hover::before,
.ionTabs__tab:nth-of-type(3).ionTabs__tab_state_active::before {
  border-color: #2267a2;
}
.ionTabs__tab:nth-of-type(3):hover::after,
.ionTabs__tab:nth-of-type(3).ionTabs__tab_state_active::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 15px 23px;
  border-color: #2267a2 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
}
.ionTabs__tab:hover,
.ionTabs__tab.ionTabs__tab_state_active {
  cursor: default;
}
.ionTabs__tab:hover::before,
.ionTabs__tab.ionTabs__tab_state_active::before {
  background-color: #fff;
}
.ionTabs__tab:hover::after,
.ionTabs__tab.ionTabs__tab_state_active::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tabs__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.ionTabs__item {
  display: none;
  height: 465px;
  position: relative;
  font-size: 18px;
  line-height: 1.4;
  background-repeat: no-repeat;
}
.ionTabs__item:nth-of-type(1) {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 40px;
  background-image: url("../img/tab1_bg.jpg");
  background-position: right;
}
.ionTabs__item:nth-of-type(1) .tabs__item-right {
  text-align: center;
}
.ionTabs__item:nth-of-type(2) {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 15px;
  background-image: url("../img/tab2_bg.jpg");
  background-position: left bottom;
}
.ionTabs__item:nth-of-type(3) {
  max-width: 972px;
  margin: 0 auto;
  padding-top: 35px;
  background-image: url("../img/tab3_bg.jpg");
  background-position: left calc(100% - 30px);
}
.ionTabs__item:nth-of-type(3) .tabs__item-left,
.ionTabs__item:nth-of-type(3) .tabs__item-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}
.ionTabs__item:nth-of-type(3) .tabs__item-right .tabs__item-title {
  position: relative;
  color: #f39305;
}
.ionTabs__item:nth-of-type(3) .tabs__item-right .tabs__item-title::after {
  display: block;
  width: 48px;
  height: 51px;
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url("../img/7days.svg");
}
.ionTabs__item:nth-of-type(3) .tabs__item-right .tabs__item-title .tabs__item-title-bold {
  text-indent: 100px;
}
.ionTabs__item:nth-of-type(3) .tabs__item-title {
  color: #2267a2;
}
.ionTabs__item.ionTabs__item_state_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ionTabs__item .tabs__item-title {
  color: #f39305;
}
.tabs__item-left,
.tabs__item-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.tabs__item-right {
  padding-left: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs__item-title {
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}
.tabs__item-title-bold {
  display: block;
  font-size: 27px;
  font-weight: 700;
  text-indent: 85px;
}
.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 45px;
  line-height: 1;
}
.score__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #fff;
}
.score__item + .score__item {
  margin-left: 20px;
}
.score__point {
  position: relative;
  top: -1px;
  left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  background-color: #f39305;
}
.score__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}
.score-point {
  font-size: 25px;
  font-weight: 700;
}
.score-weight {
  font-size: 20px;
}
.tab2__form-wrap {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
.tab2__form-wrap input[type=text] {
  font-size: 18px;
  text-align: center;
}
.tab2__btn {
  margin-bottom: 25px;
}
.tab2__btn--hide {
  position: absolute;
  display: none;
}
.tab2__form {
  display: none;
}
.tabs__item-title-bold-digit {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding-right: 2px;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  text-indent: 0;
  border: 3px solid;
  border-radius: 50%;
}
.index-auth .ionTabs__item {
  display: block;
  max-width: 1010px;
  background-image: url("../img/auth_bg.jpg");
  background-position: bottom;
}
.index-auth .tab2__form-wrap {
  right: 40px;
}
.choice-cups-wrap {
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
.choice-cups {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.current-points-wrap {
  margin-right: 16px;
  padding-right: 15px;
  text-align: center;
}
.current-points-wrap.zero-points .current-points {
  border-color: #a5a5a5;
}
.current-points-wrap.zero-points .current-points,
.current-points-wrap.zero-points .current-points__text-major {
  color: #a5a5a5;
}
.current-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  position: relative;
  top: -45px;
  left: 0;
  right: 0;
  margin: 0 auto -35px;
  color: #e4007b;
  font-size: 42px;
  border: 3px solid #e4007b;
  border-radius: 50%;
  background-color: #fff;
}
.current-points__text {
  position: relative;
}
.current-points__text::before,
.current-points__text::after {
  position: absolute;
  top: 0;
  left: calc(100% + 15px);
  width: 0;
  height: 0;
  content: '';
}
.current-points__text::before {
  top: 1px;
  border: solid transparent;
  border-width: 34px 15px;
  border-left-color: #f7f7f7;
  z-index: 1;
}
.current-points__text::after {
  border: solid transparent;
  border-width: 35px 16px;
  border-left-color: #b0b0af;
}
.current-points__text-major {
  display: block;
  margin-bottom: 15px;
  color: #e4007b;
  font-size: 18px;
  font-weight: 700;
}
.current-points__text-minor {
  font-size: 15px;
  line-height: 18px;
}
.cups-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.cups__item {
  position: relative;
  padding: 4px 9px;
}
.cups__item.cups__item--ordered {
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  background-color: #fff;
}
.cups__item.cups__item--ordered::after {
  content: 'Уже заказано';
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  margin: auto;
  color: #7c7c7c;
  font-size: 15px;
  text-align: center;
  opacity: 0.5;
}
.cup-order-btn {
  margin: 0 auto;
}
.rules-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 55px;
  counter-reset: item;
}
.rules__item {
  position: relative;
  height: 240px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  counter-increment: item;
}
.rules__item:nth-of-type(1) {
  max-width: 750px;
  padding-top: 115px;
  padding-left: 40px;
  background-image: url("../img/rules_1.png");
}
.rules__item:nth-of-type(1)::after {
  top: 100%;
  right: -20px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.rules__item:nth-of-type(1) .rules__title {
  margin-bottom: 20px;
  color: #f39305;
  font-size: 20px;
  line-height: 25px;
}
.rules__item:nth-of-type(1) .rules__text {
  max-width: 260px;
}
.rules__item:nth-of-type(2) {
  max-width: 705px;
  margin-left: auto;
  padding-top: 115px;
  padding-left: 330px;
  background-image: url("../img/rules_2.jpg");
}
.rules__item:nth-of-type(2)::after {
  top: 100%;
  left: -70px;
}
.rules__item:nth-of-type(2) .rules__title {
  color: #e4007b;
}
.rules__item:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 145px;
  padding-left: 40px;
  background-image: url("../img/rules_3.png");
  background-size: contain;
}
.rules__item:nth-of-type(3)::after {
  content: none;
}
.rules__item:nth-of-type(3) .rules__title {
  color: #2267a2;
}
.rules__item:nth-of-type(3) .rules__title::before {
  top: -32px;
}
.rules__item:nth-of-type(3) .rules__text {
  margin-top: -10px;
  padding-right: 45px;
}
.rules__item::after {
  content: '';
  position: absolute;
  display: block;
  width: 46px;
  height: 80px;
  z-index: 1;
  background-image: url("../img/rules-arr.svg");
}
.rules__title {
  position: relative;
  display: block;
  margin-left: 75px;
  margin-bottom: 25px;
  font-size: 18px;
}
.rules__title::before {
  content: counter(item);
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(100% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  margin: auto;
  font-size: 48px;
  border: 3px solid;
  border-radius: 50%;
  background-color: #fff;
}
.rules__head {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.rules__text {
  display: block;
  font-size: 15px;
  line-height: 18px;
}
.rules-btn {
  margin: 0 auto 50px;
  width: 380px;
}
.auth-reg__container {
  max-width: 960px;
  margin: 0 auto;
  min-height: 570px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url("../img/reg-auth-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.auth-reg__content {
  width: 300px;
  margin: 0 auto;
  color: #7c7c7c;
  font-size: 15px;
}
.auth-reg__content .h1 {
  margin-bottom: 30px;
  color: #7c7c7c;
  text-align: center;
}
.auth-reg__content .btn.btn--minor {
  margin-top: 10px;
}
.reg__form {
  margin-bottom: 70px;
}
.reg__form:after {
  content: '';
  display: table;
  clear: both;
}
.reg__form input:not([type=checkbox]) {
  display: block;
}
.reg__form a {
  color: inherit;
  line-height: 22px;
  text-decoration: underline;
}
.reg__form a:hover {
  color: #7c7c7c;
}
.reg__form .btn {
  margin-top: 15px;
  margin-bottom: 10px;
}
.reg__form .btn + a {
  float: right;
}
.auth-reg__content .form-title {
  margin-bottom: 10px;
  line-height: 22px;
  text-align: center;
}
.site-footer {
  padding: 30px;
  color: #fff;
  font-size: 14px;
  background-color: #d8d8d8;
}
.footer-wrap {
  max-width: 960px;
  margin: 0 auto;
}
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-nav {
  width: 640px;
}
.footer-nav ul {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.footer-nav a {
  color: inherit;
  line-height: 22px;
  text-decoration: underline;
}
.footer-nav a:hover {
  color: #7c7c7c;
}
.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.soc-text {
  max-width: 100px;
  line-height: 18px;
}
.soc-button {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.soc-button:nth-of-type(1) {
  background-image: url("../img/soc-fb.svg");
}
.soc-button:nth-of-type(1):hover {
  background-image: url("../img/soc-fb-hov.svg");
}
.soc-button:nth-of-type(2) {
  margin-left: 10px;
  background-image: url("../img/soc-ok.svg");
}
.soc-button:nth-of-type(2):hover {
  background-image: url("../img/soc-ok-hov.svg");
}
.soc-button:nth-of-type(3) {
  margin-left: 10px;
  background-image: url("../img/soc-vk.svg");
}
.soc-button:nth-of-type(3):hover {
  background-image: url("../img/soc-vk-hov.svg");
}
.footer-info {
  margin-top: 40px;
  line-height: 16px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.footer-info strong {
  font-weight: 700;
  text-transform: uppercase;
}

/*# sourceMappingURL=app.css.map */
