.site-footer
  padding: 30px

  color: #ffffff
  font-size: 14px
  background-color: #d8d8d8

.footer-wrap
  container()

.footer-top
  display: flex

.footer-nav
  width: 640px
  ul
    column-count 3
    column-gap: 40px
  a
    color: inherit
    line-height: 22px
    text-decoration: underline
    &:hover
      text-decoration: none

.footer-soc
  margin-left: auto

.footer-info
  margin-top: 40px

  line-height: 16px;
  column-count: 2;
  column-gap: 50px;

  strong
    font-weight: 700
    text-transform: uppercase
