{% extends 'base.html' %}

{% block content %}

  <div class="faq-wrap">
    <h1 class="h1">Вопросы и ответы</h1>

    <button class="btn ask-add" data-js-add-ask-btn>Задать вопрос</button>

    <div class="faq__ask-wrap">

      <form class="faq__ask-form">
        <textarea placeholder="Задать вопрос..." required></textarea>

        <fieldset>
          <label>Имя
            <input class="input input--small" type="text">
          </label>
          <label>Email
            <input class="input input--small" type="email" required>
          </label>

          <button class="btn" type="submit">Отправить</button>
        </fieldset>
      </form>

    </div>

    <ol class="faq__content">
      <li class="faq__item">
        <span class="faq__question">Кто может принять участие в акции?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Какие сроки проведения акции?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Что мне нужно сделать для участия в акции?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как я могу получить призы?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как выиграть зонт?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками. Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
      <li class="faq__item">
        <span class="faq__question">Как будут выбраны победители?</span>
        <p class="faq__answer">Гражданин Российской Федерации, достигший 18 летнего возраста. Иностранные граждане не могут являться участниками.</p>
      </li>
    </ol>
  </div>

{% endblock %}
