{% extends 'base.html' %}

{% block auth %}
  <div class="personal auth">
    <a href="personal.html">личный кабинет</a>
  </div>
{% endblock %}

{% block content %}
  <button class="aside-toggle-button"></button>
  <div class="index-auth">

    <div class="ionTabs__item" data-name="Tab_2_name">
      <div class="tab2__form-wrap">

        <button class="btn btn--large tab2__btn" data-js-code-reg-btn>регистрация кода</button>

        <form class="tab2__form">
          <input class="input input--large" type="text" placeholder="Введите код с пачки" required>
          <button class="btn btn--large" type="submit" data-js-popup-link="code-happy">отправить</button>
        </form>

      </div>
    </div>

    <div class="choice-cups-wrap">

      <div class="choice-cups">
        <!-- <div class="current-points-wrap zero-points"> -->
        <div class="current-points-wrap">

          <span class="current-points">7</span>

          <div class="current-points__text">

            <span class="current-points__text-major">Баллов доступно</span>
            <span class="current-points__text-minor">Пора подумать, какую <br> кружку заказать следующей!</span>

          </div>

        </div>

        <div class="cups-items" data-js-flickity>
          <div class="cups__item cups__item--ordered carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item cups__item--ordered carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item cups__item--ordered carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
          <div class="cups__item carousel-cell">
            <img src="static/img/del/cup.png" alt="">
          </div>
        </div>

      </div>

      <!-- <a class="btn cup-order-btn btn--minor" href="order.html">заказать кружку</a> -->
      <a class="btn cup-order-btn" href="order.html">заказать кружку</a>

    </div>

  </div>

  {% include 'pop-up/code-happy.html' %}
{% endblock %}

{% block after_main %}
  <aside id="aside">
    <p class="aside__title">Хочешь зонт?</p>
    <a class="btn btn--aside" href="">Пройди тест</a>
    <p class="aside__sub">и удвой шансы на победу</p>
  </aside>
{% endblock %}
