{% extends 'base.html' %}

{% block content %}

  <div class="order-wrap">

    <h1 class="h1">Заказ приза</h1>

    <div class="order__steps">

      <div class="order__head">
        <div class="order__step-head current">
          <span>выбери кружку</span>
        </div>
        <div class="order__step-head">
          <span>контактные данные</span>
        </div>
        <div class="order__step-head">
          <span>доставка</span>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
