{% extends 'base.html' %}

{% block content %}

  <div class="order-wrap">

    <h1 class="h1">Заказ приза</h1>

    <div class="order__steps">

      <div class="order__head">
        <div class="order__step-head current">
          <span>выбери кружку</span>
        </div>
        <div class="order__step-head">
          <span>контактные данные</span>
        </div>
        <div class="order__step-head">
          <span>доставка</span>
        </div>
      </div>

      <div class="order__content">

        <div class="order__step-content current" data-js-cups-tab="1">

          <div class="order__cups-wrap">
            <a href="static/img/del/cup-big.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big2.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big2.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big2.png"><img src="static/img/del/cup.png" alt=""></a>
            <a href="static/img/del/cup-big.png"><img src="static/img/del/cup.png" alt=""></a>
            <a class="current" href="static/img/del/cup-big2.png"><img src="static/img/del/cup.png" alt=""></a>
          </div>

          <div class="order__cups-item">
            <img src="static/img/del/cup-big.png" alt="">
          </div>

          <button class="btn order-next-btn" data-js-cups-next-tab>продолжить заказ</button>

        </div>

        <div class="order__step-content" data-js-cups-tab="2">

          <button class="btn order-next-btn" data-js-cups-next-tab>продолжить заказ</button>

        </div>

        <div class="order__step-content" data-js-cups-tab="3">



        </div>

      </div>

    </div>

  </div>

{% endblock %}
