{% extends 'base.html' %}

{% block content %}

  <div class="auth-reg__container auth-reg__container--xs">
    <div class="auth-reg__content">
      <span class="h1">Регистрация</span>

      <!-- <form class="reg__form form--required"> -->
      <form class="reg__form">
        <p class="form__error-message">Поля обязательны для заполнения</p>

        <input class="input input--small" type="email" placeholder="Email" required>
        <input class="input input--small" type="password" placeholder="Пароль" required>
        <br>
        <input type="checkbox" class="checkbox checkbox--xs" id="checkbox-rules" required checked>
        <label for="checkbox-rules">Я согласен с <a href="">Правилами сайта</a></label>
        <br>
        <input type="checkbox" class="checkbox checkbox--xs" id="check-18" required>
        <label for="check-18">Мне исполнилось 18 лет</label>

        <button class="btn" type="submit" data-js-popup-link="register">Зарегистрироваться</button>

        <a href="forgot_pass.html">Восстановить пароль</a>
      </form>

      Уже есть аккаунт?
      <a class="btn btn--minor" href="auth.html">Войти</a>
    </div>
  </div>

  {% include 'pop-up/register.html' %}
{% endblock %}
