{% extends 'base.html' %}

{% block content %}
  <div class="rules-wrap">

    <h1 class="h1">Правила и призы</h1>

    <div class="rules__item">
      <span class="rules__title"><span class="rules__head">Покупай</span> PERFECT FIT</span>
      <span class="rules__text">Чем больше упаковка – тем больше баллов!</span>
    </div>

    <div class="rules__item">
      <span class="rules__title"><span class="rules__head">Активируй</span> коды и копи баллы</span>
      <span class="rules__text">Ищи код внутри пачки или на стикере. <br> Регистрация кодов с 01.09.2016 по 30.11.2016</span>
    </div>

    <div class="rules__item">
      <span class="rules__title"><span class="rules__head">Выигрывай</span> ценные призы</span>
      <span class="rules__text">Собери всю коллекцию уникальных кружек! <br> Кружка за 4 балла. <br><br> <span>Участвуй в розыгрыше зонтов каждую неделю!</span></span>
    </div>
  </div>

  <a class="btn rules-btn" href="">читать полные правила акции</a>
{% endblock %}
