{% extends 'base.html' %}

{% block content %}

  <div class="test-wrap">

    <div class="test__start current" data-js-test-item="1">
      <div class="test__start-content">

        <p class="test__start-title"><span>тайные котоприключения</span> <span>вашего любимца!</span></p>
        <p class="test__start-sub">У каждой кошки свой характер и свои вкусы. Какие приключения нравятся твоему питомцу? А какой у него типаж? Мы вместе определим интересы и склонности твоей кошки, чтобы подобрать идеальный корм, соответствующий ее образу жизни.</p>

        <button class="btn test__start-btn" data-js-test-btn="2">Начать тест</button>

      </div>
    </div>

    <div class="test__ask">

      <div class="test__ask-item" data-js-test-item="2">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">1</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Твой кот или кошка способны удержаться от набегов на кухню в поисках вкусных сокровищ?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer1">
            Не будет церемониться, поймает или отнимет то, что захочет.
          </label>
          <label>
            <input type="radio" name="test-answer1">
            Старается выбрать стратегически удачную позицию, чтобы не приходилось лишний раз шевелить хвостом.
          </label>
          <label>
            <input type="radio" name="test-answer1">
            Всегда ищет новые источники пищи, клады и залежи добычи.
          </label>
          <label>
            <input type="radio" name="test-answer1">
            Готов попробовать что-то новенькое, потому что свободного времени &ndash; хоть отбавляй!
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="3">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="3">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">2</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Твой кот или кошка любят полежать рядом и подумать о том, нужны ли вообще эти приключения?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer2">
            Кажется, большинство приключений уже позади, и гораздо приятнее вспоминать подвиги юности, чем искать непонятно что.
          </label>
          <label>
            <input type="radio" name="test-answer2">
            Главное - чтобы хорошо кормили, потому что если за приключение придется платить отсутствием диетического корма с любимым вкусом - лучше полежать на кресле!
          </label>
          <label>
            <input type="radio" name="test-answer2">
            Только если расчесывают! Потому что приключения нужно встречать во всей красе!
          </label>
          <label>
            <input type="radio" name="test-answer2">
            Когда голова не забита всякими амурными делами, освобождается куча времени на обдумывание интересных приключений, а пищу для ума лучше переваривать лежа!
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="4">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="4">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">3</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Что выбирает твой кот или кошка? Изведанные тропы или новые неизведанные открытия?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer3">
            Конечно новые тропы! А лучше всего даже попытаться понюхать воздух свободы на балконе или в форточке!
          </label>
          <label>
            <input type="radio" name="test-answer3">
            Знаете, главное - безопасность! Нечего рисковать здоровьем ради сомнительных радостей!
          </label>
          <label>
            <input type="radio" name="test-answer3">
            Конечно любопытство! Темный тоннель за диваном так манит! За диван, правда не всегда пролезешь, но фитнес поможет!
          </label>
          <label>
            <input type="radio" name="test-answer3">
            Нет еще никаких троп! Запомнить бы, где лоток - вот главное приключение на начальных этапах жизни!
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="5">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="5">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">4</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Способен ли твой кот или кошка проделывать свои фокусы без следов и улик?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer4">
            Последствия пиратского набега пиратов не волнуют - наказания они не боятся!
          </label>
          <label>
            <input type="radio" name="test-answer4">
            Проделки осуществляет незаметно, но выдают улики с "места приключения" &ndash; в основном, конечно, огромное количество шерсти…
          </label>
          <label>
            <input type="radio" name="test-answer4">
            Молодость и отсутствие опыта подводят в деле тайных операций.
          </label>
          <label>
            <input type="radio" name="test-answer4">
            Лучше любого спецагента! Никаких следов и улик. Знает квартиру как свои подушечки лап!
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="6">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="6">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">5</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Любит ли твой кот или кошка открытую воду и водные процедуры?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer5">
            Нипочем ни брызги ни шторм!
          </label>
          <label>
            <input type="radio" name="test-answer5">
            В юности бывало всякое, но сейчас и сохнуть долго, и лень с краном возиться.
          </label>
          <label>
            <input type="radio" name="test-answer5">
            Главное - не замочить роскошную прическу!
          </label>
          <label>
            <input type="radio" name="test-answer5">
            Любит комфорт. Может и в ванной поспать, а может и из крана попить. Дома же всё знакомо!
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="7">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="7">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">6</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Куда отправится на охоту твой кот или кошка? Новые высоты, или бескрайние равнины?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer6">
            Лучше всего мягкие перины и легкие пробежки трусцой, как и подобает приличному бодрому пожилому зверю в отличной форме
          </label>
          <label>
            <input type="radio" name="test-answer6">
            На высоте животик покручивает, равнины как-то спокойнее, да и доктор не рекомендует перепады давления.
          </label>
          <label>
            <input type="radio" name="test-answer6">
            Равнины, конечно! Не до всякой высоты еще и допрыгнешь, так что лучше передвигаться по горизонтальным поверхностям!
          </label>
          <label>
            <input type="radio" name="test-answer6">
            Лучше всего горы и равнины по телевизору, перед которым так удобно лежать уместившись в кругу по центру ковра.
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="8">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="8">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">7</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Что написано на мордочке у твоего кота или кошки, когда ты возвращаешься домой?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer7">
            На длинных усах и седой мордашке - длинная карта интересных приключений!
          </label>
          <label>
            <input type="radio" name="test-answer7">
            Что питаться надо исключительно по расписанию, потому что диету надо соблюдать вне зависимости от того, надо сдавать годовой отчет или нет!
          </label>
          <label>
            <input type="radio" name="test-answer7">
            Что хитрюга неспроста в сметане и особая диета не помешает, впрочем, как не помешает прятать продукты понадежнее, а на холодильник повесить замок!
          </label>
          <label>
            <input type="radio" name="test-answer7">
            Явное подозрение, что быть человеком не так приятно и как котом, в распоряжении которого вся квартира.
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="9">Продолжить</button>
      </div>

      <div class="test__ask-item" data-js-test-item="9">

        <div class="test__ask-head">
        <span class="test__ask-count">
          <span class="test__ask-count-current">8</span>
          <span class="test__ask-count-all">/8</span>
        </span>
          <p class="test__ask-title">Твой кот или кошка мечтают о романтических отношениях в марте или предпочитают исследовать окружающий мир, будто ничего не происходит?</p>
        </div>

        <form class="test__ask-answers">
          <label>
            <input type="radio" name="test-answer8">
            Коты и кошки всего района слушают мяуканья о приключениях!
          </label>
          <label>
            <input type="radio" name="test-answer8">
            Распушить хвост и смотреться в зеркало в ожидании внезапной встречи – любимое занятие!
          </label>
          <label>
            <input type="radio" name="test-answer8">
            Рано еще! Надо сперва как следует попутешествовать по квартире и опыта поднабраться!
          </label>
          <label>
            <input type="radio" name="test-answer8">
            Думает не об отношениях, а о неизведанных мирах и новых открытиях.
          </label>
        </form>

        <button class="btn test__answer-btn" data-js-test-btn="10">Продолжить</button>
      </div>

    </div>

  </div>

{% endblock %}
