{% extends 'base.html' %}

{% block content %}
  <div class="winners-wrap">
    <h1 class="h1">Победители розыгрыша зонтов</h1>

    <div class="tabs-buttons">
      <button class="active" data-js-tab-btn="1">25 июля &ndash; 31 июля</button>
      <button data-js-tab-btn="2">18 июля &ndash; 24 июля</button>
      <button data-js-tab-btn="3">11 июля &ndash; 17 июля</button>
    </div>

    <div class="tabs-buttons-content-wrap">

      <div class="tabs-buttons-content active" data-js-tab-content="1">
        <ol>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
          <li>exe****@mail.ru</li>
        </ol>
      </div>

      <div class="tabs-buttons-content" data-js-tab-content="2">
        <ol>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
          <li>exe****@mail.com</li>
        </ol>
      </div>

      <div class="tabs-buttons-content" data-js-tab-content="3">
        <ol>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
          <li>exe****@mail.su</li>
        </ol>
      </div>

    </div>

  </div>
{% endblock %}
