{% extends 'base.html' %}

{% block content %}
  <div class="winners-wrap">
    <h1 class="h1">Победители розыгрыша зонтов</h1>

    <div class="tabs-buttons tabs-buttons--winners">
      <button class="active" data-js-tab-btn="1">26 сентября &ndash; 1 октября</button>
      <button data-js-tab-btn="2">19 &ndash; 25 сентября</button>
      <button data-js-tab-btn="3">12 &ndash; 18 сентября</button>
    </div>

    <div class="tabs-buttons-content-wrap">

      <div class="tabs-buttons-content active" data-js-tab-content="1">
        <ol>
          <li>1. exe****@mail.ru</li>
          <li>2. exe****@mail.ru</li>
          <li>3. exe****@mail.ru</li>
          <li>4. exe****@mail.ru</li>
          <li>5. exe****@mail.ru</li>
          <li>6. exe****@mail.ru</li>
          <li>7. exe****@mail.ru</li>
          <li>8. exe****@mail.ru</li>
        </ol>
      </div>

      <div class="tabs-buttons-content" data-js-tab-content="2">
        <ol>
          <li>1. exe****@mail.com</li>
          <li>2. exe****@mail.com</li>
          <li>3. exe****@mail.com</li>
          <li>4. exe****@mail.com</li>
          <li>5. exe****@mail.com</li>
          <li>6. exe****@mail.com</li>
          <li>7. exe****@mail.com</li>
          <li>8. exe****@mail.com</li>
        </ol>
      </div>

      <div class="tabs-buttons-content" data-js-tab-content="3">
        <ol>
          <li>1. exe****@mail.su</li>
          <li>2. exe****@mail.su</li>
          <li>3. exe****@mail.su</li>
          <li>4. exe****@mail.su</li>
          <li>5. exe****@mail.su</li>
          <li>6. exe****@mail.su</li>
          <li>7. exe****@mail.su</li>
          <li>8. exe****@mail.su</li>
        </ol>
      </div>

    </div>

  </div>
{% endblock %}
