{% extends 'base.html' %}

{% block content %}
  <div class="winners-wrap">
    <h1 class="h1">Победители розыгрыша зонтов</h1>

    <div data-js-responsiveTabs="1">
      <ul>
        <li><a href="#tab-1">26 сентября &ndash; 1 октября</a></li>
        <li><a href="#tab-2">19 &ndash; 25 сентября</a></li>
        <li><a href="#tab-3">12 &ndash; 18 сентября</a></li>
      </ul>

      <div id="tab-1" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="1">
          <ol>
            <li>1. exe****@mail.ru</li>
            <li>2. exe****@mail.ru</li>
            <li>3. exe****@mail.ru</li>
            <li>4. exe****@mail.ru</li>
            <li>5. exe****@mail.ru</li>
            <li>6. exe****@mail.ru</li>
            <li>7. exe****@mail.ru</li>
            <li>8. exe****@mail.ru</li>
          </ol>
        </div>
      </div>

      <div id="tab-2" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="2">
          <ol>
            <li>1. exe****@mail.com</li>
            <li>2. exe****@mail.com</li>
            <li>3. exe****@mail.com</li>
            <li>4. exe****@mail.com</li>
            <li>5. exe****@mail.com</li>
            <li>6. exe****@mail.com</li>
            <li>7. exe****@mail.com</li>
            <li>8. exe****@mail.com</li>
          </ol>
        </div>
      </div>

      <div id="tab-3" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="3">
          <ol>
            <li>1. exe****@mail.su</li>
            <li>2. exe****@mail.su</li>
            <li>3. exe****@mail.su</li>
            <li>4. exe****@mail.su</li>
            <li>5. exe****@mail.su</li>
            <li>6. exe****@mail.su</li>
            <li>7. exe****@mail.su</li>
            <li>8. exe****@mail.su</li>
          </ol>
        </div>
      </div>
    </div>

    <div data-js-responsiveTabs="2">
      <ul>
        <li><a href="#tab-4">26 сентября &ndash; 1 октября</a></li>
        <li><a href="#tab-5">19 &ndash; 25 сентября</a></li>
        <li><a href="#tab-6">12 &ndash; 18 сентября</a></li>
      </ul>

      <div id="tab-4" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="1">
          <ol>
            <li>1. exe****@mail.ru</li>
            <li>2. exe****@mail.ru</li>
            <li>3. exe****@mail.ru</li>
            <li>4. exe****@mail.ru</li>
            <li>5. exe****@mail.ru</li>
            <li>6. exe****@mail.ru</li>
            <li>7. exe****@mail.ru</li>
            <li>8. exe****@mail.ru</li>
          </ol>
        </div>
      </div>

      <div id="tab-5" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="2">
          <ol>
            <li>1. exe****@mail.com</li>
            <li>2. exe****@mail.com</li>
            <li>3. exe****@mail.com</li>
            <li>4. exe****@mail.com</li>
            <li>5. exe****@mail.com</li>
            <li>6. exe****@mail.com</li>
            <li>7. exe****@mail.com</li>
            <li>8. exe****@mail.com</li>
          </ol>
        </div>
      </div>

      <div id="tab-6" class="tabs-buttons-content-wrap">
        <div class="tabs-buttons-content" data-js-tab-content="3">
          <ol>
            <li>1. exe****@mail.su</li>
            <li>2. exe****@mail.su</li>
            <li>3. exe****@mail.su</li>
            <li>4. exe****@mail.su</li>
            <li>5. exe****@mail.su</li>
            <li>6. exe****@mail.su</li>
            <li>7. exe****@mail.su</li>
            <li>8. exe****@mail.su</li>
          </ol>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
